body{ 
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 2s; 
    animation-fill-mode: forwards; 
  } 
  
  
  @keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
  }
  
  
@media screen and (max-width: 700px) {


    body{ 
      animation: fadeInAnimation ease 4s;
      animation-iteration-count: 2s; 
      animation-fill-mode: forwards; 
    } 
    
    
    @keyframes fadeInAnimation { 
      0% { 
          opacity: 0; 
      } 
      100% { 
          opacity: 1; 
       } 
    }  

    #plot{
        font-size: 18px !important;

    }
  }
